.movies__cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 80px 0 0 0;
}

.movies__cards-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 32px 28px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.movies__cards__not-found {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0 50px 0;
}

@media (max-width: 1279px) {
  .movies__cards-list {
    grid-template-columns: 1fr 1fr;
    gap: 35px 24px;
  }

  .movies__cards-container {
    margin-top: 80px;
  }
}


@media (max-width: 767px) {
  .movies__cards-list {
    grid-template-columns: 1fr;
    gap: 16px
  }

  .movies__cards-container {
    margin-top: 50px;
  }
}