.movies__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 80px 0 0 0;
}

.movies__cards_list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 32px 28px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.movies__cards__not-found {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0 50px 0;
}

@media (max-width: 1170px) {
  .movies__cards_list {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 750px) {
  .movies__cards_list {
    grid-template-columns: 1fr;
  }

}