.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(7, 48, 66, 1);
}

.promo__container {
  display: flex;
  justify-content: space-between;
  width: calc((1140 / 1280) * 100%);
  margin: 75px 0 0 0;
}

.promo__container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 640px;
}

.promo__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0;
}

.promo__caption {
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  color: rgba(255, 255, 255, 1);
  max-width: 310px;
  margin: 36px 0 0 0;
  padding: 0;
  opacity: 0.5;
}

.promo__button {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 3px;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  width: 129px;
  height: 36px;
  padding: 0;
  margin: 145px 0 73px 0;
  cursor: pointer;
}

.promo__img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 310px;
  height: 304px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  animation: rotate 60s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1279px) {
  .promo__container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 140px;
  }

  .promo__container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
  }

  .promo__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
  }

  .promo__caption {
    text-align: center;
    margin-top: 24px;
  }

  .promo__img {
    margin-bottom: 48px;
  }

  .promo__button {
    margin-top: 90px;
  }
}

@media (max-width: 767px) {
  .promo__container {
    margin-top: 70px;
  }

  .promo__img {
    width: 210px;
    height: 206px;
    margin-bottom: 44px;
  }

  .promo__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.26;
    letter-spacing: -1.2px;
  }

  .promo__caption {
    margin-top: 24px;
  }

  .promo__button {
    margin-top: 80px;
    margin-bottom: 30px;
  }
}