.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(32, 32, 32, 1);
  padding: 0;
  margin: 0;
}

.search__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  width: calc((1140 / 1280) * 100%);
  padding: 0;
  margin: 70px 0 0 0;
  border-bottom: 1px solid rgba(170, 170, 170, 1);
}

.search__container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0;
  margin: 0;
}

.search__input {
  width: 100%;
  height: 70px;
  padding: 0 20px 0 20px;
  margin: 0;
  border-radius: 8px;
  border: 1.5px solid #AAA;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(32, 32, 32, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.11;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
}

.search__input:focus {
  box-shadow: 0px 0 3px rgba(61, 220, 132, 1) inset;
  outline: none;
}

.search__button {
  position: absolute;
  right: 10px;
  height: 52px;
  width: 100px;
  border: none;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  background-color: rgba(66, 133, 244, 1);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.search-short {
  display: flex;
  align-self: flex-start;
  padding: 0;
  margin: 28px 0 43px 0;
}

.search__short-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  padding: 0;
  margin: 0 12px 0 0;
}

.search__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.search__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(61, 220, 132, 1);
  border-radius: 34px;
  transition: 0.4s;
}

.search__slider:before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.search__checkbox:checked + .search__slider {
  background-color: #2be080;
}

.search__checkbox:focus + .search__slider {
  box-shadow: 0 0 2px #2be080;
}

.search__checkbox:checked + .search__slider:before {
  transform: translateX(18px);
}

.search__short-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

@media(max-width: 768px) {
  .search-short {
    margin-bottom: 51px;
  }

  .search__fieldset {
    width: 92%;
  }
}

@media(max-width: 320px) {
  .search__container {
    height: 56px;
  }

  .search__input {
    height: 56px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
  }

  .search__button {
    width: 80px;
    height: 44px;
    right: 6px;
  }

  .search-short {
    margin-top: 30px;
    margin-bottom: 62px;
  }
}